<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-dialog-content>
      <div class="md-dialog-content">
        <calendar-md flex layout layout-fill
          calendar-direction="direction"
          on-prev-month="prevMonth"
          on-next-month="nextMonth"
          on-day-click="dayClick"
          title-format="'MMMM y'"
          ng-model='selectedDate'
          week-starts-on="firstDayOfWeek"
          id="calendar">
        </calendar-md>
      </div>
      <div>
        <mdp-time-picker ng-model="currentDate" mdp-auto-switch="true" layout-align="center" style="margin: 0 auto;"></mdp-time-picker>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-raised md-primary" ng-click="replicar()">
        Continuar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>