<div class="padded-container">
    <div class="dynamic-grid" angular-grid="ltc.pics" grid-width="180" gutter-size="20" angular-grid-id="gallery" refresh-on-img-load="true" >
        <div class="grid" data-ng-repeat="pic in ltc.pics" ng-click="ltc.loadMovieInfo(pic)">
            <img ng-src="{{pic.poster.file_path | trusted}}" class="hvr-underline-from-center grid-img" data-actual-width="{{pic.poster.width}}" data-actual-height="{{pic.poster.height}}" /> 
            <div class="badge">
                <p class="lobster-style">{{pic.list_id}}</p>
            </div>   
        </div>
    </div>

    <div scroll ng-hide="ltc.checked" class="animate-show fixed-pos" layout="row">
        <div flex></div>
        <md-button style="margin-right:3%;" ng-click="ltc.addNewMovieDialog(ev)" class="md-fab md-primary" aria-label="Use Android">
            <md-icon md-svg-src="../../assets/icons/ic_add_white_24px.svg"></md-icon>
        </md-button>
    </div>
</div>


      <!--<button ng-click="ltc.showme = !ltc.showme">Show or Hide</button>
      <div ng-show="ltc.showme" class="boxme">
        <h2>Box to Show and Hide</h2>
        <p>Show and hide this box using animate.css the angularway!</p>
      </div>

Click me: <input type="checkbox" ng-model="ltc.checked" aria-label="Toggle ngHide"><br/>-->
<!--<div>
  Show:
  <div class="check-element animate-show" ng-show="ltc.checked">
    <span class="glyphicon glyphicon-thumbs-up"></span> I show up when your checkbox is checked.
  </div>
</div>
<div>
  Hide:
  <div class="check-element animate-show" ng-hide="ltc.checked">
    <span class="glyphicon glyphicon-thumbs-down"></span> I hide when your checkbox is checked.
  </div>
</div>-->


