

    <!--<div class="header" style="position: relative; left: 0; top: -80px; overflow: hidden;">
        <img class="header" src="{{mic.completeImagePath(mic.movieInfo.backdrop_path)}}" style="position: relative; top: 120px; left: 0;"/>
        <img class="header" src="https://s2.ltrbxd.com/static/img/film-feature-fade.5df47d9a.png" style="position: absolute; top: 120px; left: 0px;"/>
    </div>-->
    
    <!--<div id="container">
        <img class="header" ng-src="{{mic.completeImagePath(mic.movieInfo.backdrop_path)}}" alt="Washed Out">
        <img class="header" ng-src="https://s2.ltrbxd.com/static/img/film-feature-fade.5df47d9a.png" alt="Washed Out">
    </div>-->

    <!--<div id="backdrop" style="background-position: center -55px; background-image: url({{mic.completeImagePath(mic.movieInfo.backdrop_path)}})" >
    <div class="backdrop-fade backdrop-fade-image">-->

<div hide-md>
    <md-content class="padded-container-small" style="margin-top: 5%;">
        <div layout="column" layout-gt-sm="row">
            <div layout="column" flex="100" flex-gt-sm="35">
                <img ng-src="{{mic.completeImagePath(mic.movie.info.poster_path)}}" style="width: 100%;" alt="Washed Out">
                <div style="margin-top: 5%;" class="list-number-badge">
                    <p class="lobster-style">21</p>
                </div> 
            </div>
            <div class="content" flex="100" flex-gt-sm="65">
                <h1 class="lobster-style">{{mic.movie.info.original_title}}</h1>
                <p class="raleway-style">{{mic.movie.info.tagline}}</p>
                <h2 class="lobster-style">Overview</h2>
                <p class="raleway-style">{{mic.movie.info.overview}}</p>
                <h2 class="lobster-style">Director</h2>
                <p class="raleway-style">{{mic.movie.info.director}}</p>
            </div>
        </div>
        <h1 style="font-size: 36px;" class="lobster-style">Cast</h1>
        <div class="cast-big" layout="column" layout-gt-sm="row">
            <div flex></div>
            <div ng-repeat="cast in mic.movie.credits.fewTopBilledCast">
                <div class="cast-card-big" layout-align="center center">
                    <div layout="column" layout-gt-sm="row">
                        <div class="offset" hide-gt-sm></div>
                        <div style="margin-top:10%;">
                            <div class="hvr-underline-from-center cast-portait-big">
                                <img ng-src="{{mic.completeImagePath(cast.profile_path)}}" alt="Washed Out">
                            </div>
                            <div style="font-size: 20px;" class="lobster-style">{{cast.character}}</div>
                            <div class="raleway-style">{{cast.name}}</div>
                        </div>
                        <div flex="100"></div>
                    </div>
                </div>
            </div>
            <div flex></div>
        </div>
        <h1 style="font-size: 36px;" class="lobster-style">Status</h1>
    </md-content>
    <div class="status-banner" layout="row" layout-align="center center">
        <h2 class="lobster-style">In collection</h2>
    </div>
</div>

<!--A copy of the layout rigged to show up on tablets. There must be another way of doing this-->
<div hide show-md>
    <md-content class="padded-container-md" style="margin-top: 5%;">
        <div layout="column" layout-gt-sm="row">
            <div layout="column" flex="100" flex-md="40">
                <img ng-src="{{mic.completeImagePath(mic.movie.info.poster_path)}}" style="width: 100%;" alt="Washed Out">
                <div style="margin-top: 5%;" class="list-number-badge">
                    <p class="lobster-style">21</p>
                </div> 
            </div>
            <div class="content" flex="100"flex-md="60">
                <h1 class="lobster-style">{{mic.movie.info.original_title}}</h1>
                <p class="raleway-style">{{mic.movie.info.tagline}}</p>
                <h2 class="lobster-style">Overview</h2>
                <p class="raleway-style">{{mic.movie.info.overview}}</p>
                <h2 class="lobster-style">Director</h2>
                <p class="raleway-style">{{mic.movie.info.director}}</p>
            </div>
        </div>
        <h1 class="lobster-style">Cast</h1>
    </md-content>
    <md-content>
        <div class="cast" layout="column" layout-gt-sm="row">
            <div ng-repeat="cast in mic.movie.credits.manyTopBilledCast">
                <div class="cast-card" layout="column" layout-align-gt-sm="center center" flex="100">
                    <div class="hvr-underline-from-center cast-portait">
                        <img ng-src="{{mic.completeImagePath(cast.profile_path)}}" alt="Washed Out">
                    </div>
                    <div style="font-size: 20px;" class="lobster-style">{{cast.character}}</div>
                    <div class="raleway-style">{{cast.name}}</div>
                </div>
            </div>
        </div>
    </md-content>
    <md-content class="padded-container-md">
        <h1 class="lobster-style">Status</h1>
    </md-content>
    <div class="status-banner" layout="row" layout-align="center center">
        <h2 class="lobster-style">In collection</h2>
    </div>
</div>