<div id=back>
    <md-card id=card_login md-whiteframe='24'>
            <div id=logo_bar_container>
                <img class=md-card-image id=logo_bar ng-src='assets/images/yunius.png'  alt='Logo'/>
            </div>
            <md-card-content id=card_login_container ng-init="vm.login.empresa='DEMO'; vm.login.claveEm = 'DEMO'; vm.login.usuario='ADMI';  vm.login.claveUs = 'MX20D0S3'">
                <form ng-submit='vm.doLogin($event)' name="formAdminLogin">
                    <md-input-container class=md-block flex-gt-sm=''>
                        <label> Empresa</label>
                        <input id=inputEmp name='empresa'  type='text'  required  autofocus  ng-model='vm.login.empresa'>
                        <div ng-messages="formAdminLogin.empresa.$error" >
                            <div ng-message="required" ng-show="formAdminLogin.empresa.$invalid">La empresa es obligatoria.</div>
                        </div>                          
                    </md-input-container>
                    <md-input-container class=md-block flex-gt-sm=''>
                        <label> Contraseña empresa</label>
                        <input id=inputPasswordEmp name='claveEm'  type='password' required ng-model='vm.login.claveEm'>
                        <div ng-messages="formAdminLogin.claveEm.$error" >
                            <div ng-message="required" ng-show="formAdminLogin.claveEm.$invalid">La clave de empresa es obligatoria.</div>
                        </div>                         
                    </md-input-container>
                    <md-input-container class=md-block flex-gt-sm=''>
                        <label> Usuario</label>
                        <input id=inputUser name='usuario' type='text' required autofocus ng-model='vm.login.usuario'>
                        <div ng-messages="formAdminLogin.usuario.$error" >
                            <div ng-message="required" ng-show="formAdminLogin.usuario.$invalid">El usuario es obligatorio.</div>
                        </div>                         
                    </md-input-container>
                    <md-input-container class=md-block flex-gt-sm=''>
                        <label> Contraseña usuario</label>
                        <input id=inputPasswordUsr name='claveUs' type='password' required ng-model='vm.login.claveUs'>
                        <div ng-messages="formAdminLogin.claveUs.$error" >
                            <div ng-message="required" ng-show="formAdminLogin.claveUs.$invalid">La clave de usuario es obligatoria.</div>
                        </div>                         
                    </md-input-container>
                    <md-button class="btnAzuly btnLargo" ng-disabled="formAdminLogin.$invalid" class=md-raised.md-primary type='submit'> Entrar </md-button>
                </form>
            </md-card-content>
    </md-card>
</div>
