<!--div>This is the monitoreo view.</div-->
<!--
<md-content laout="column" flex >
<div layout="row" layout-align="start start">
      <md-input-container>
        <label>Buscar</label>
        <input ng-model="buscar">
      </md-input-container>
</div>
<div>
    <md-table-container>
        <!--md-row-select="ad.options.rowSelection" multiple="{{ad.options.multiSelect}}" ng-model="ad.selected"-->
        <!--<table md-table md-row-select multiple ng-model="pe.selected" md-progress="pe.promise">
            <!-- ng-if="!ad.options.decapitate" md-head md-order="ad.query.order" md-on-reorder="ad.logOrder"-->
            <!--<thead md-head md-order="pe.query.order">
                <tr md-row>
                    <th md-column md-order-by="id.cdgpe" ><span>Código</span></th>
                    <th md-column md-order-by="nombre"><span>Nombre</span></th>
                    <th md-column md-order-by="coordinacion" ><span>Coordinación</span></th>
                    <th md-column md-order-by="activo"><span>Estatus</span></th>
                    <th md-column md-order-by="puesto" ><span>Puesto</span></th>
                </tr>
            </thead>
            <tbody md-body>
                <!-- | filter : buscar | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit track by $index" ng-click="logItem(monitoreo)" ng-class="{'md-active': selected === monitoreo}"-->
                 <!--<tr md-row ng-disabled="monitoreo.tiempoRec.value > 6.0" ng-repeat="monitoreo in pe.lista">
                    <td md-cell>
                	    <div ng-if="monitoreo.id.cdgpe != null">
                		    {{monitoreo.id.cdgpe}}
                	    </div>
                	    <div ng-if="monitoreo.id.cdgpe == null">Desconocido</div>
                    </td>
                    <td md-cell>
                	    <div ng-if="monitoreo.nombre != null">
                		    {{monitoreo.nombre}}
                	    </div>
                	    <div ng-if="monitoreo.nombre == null">Desconocido</div>
                    </td>
                    <td md-cell>
                	    <div ng-if="monitoreo.coordinacion != null">
                		    {{monitoreo.coordinacion}}
                	    </div>
                	    <div ng-if="monitoreo.coordinacion == null">Desconocido</div>
                    </td>
                    <td md-cell>
                	    <div ng-if="monitoreo.activo != null">
                		    {{monitoreo.activo}}
                	    </div>
                	    <div ng-if="monitoreo.activo == null">Desconocido</div>
                    </td>
                    <td md-cell>
                	    <div ng-if="monitoreo.puesto != null">
                		    {{monitoreo.puesto}}
                	    </div>
                	    <div ng-if="monitoreo.puesto == null">Desconocido</div>
                    </td>
                 </tr>
            </tbody>
        </table>
    </md-table-container>
    <!--
<md-table-pagination md-label="{page: 'Página:', rowsPerPage: 'Registros por página:', of: 'de'}" md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{total}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination" ></md-table-pagination>-->
<!--</div>
</md-content>-->